.athletes {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
}

.athlete__link {
  text-decoration: none;
}

.athlete__link:hover {
  background-color: lighten($gray, 1);
}

.athlete-preview {
  width: 200px;
  box-sizing: border-box;

  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.athlete-preview__photo {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  overflow: hidden;
}

.athlete-preview__name,
.athlete-preview__status {
  margin: 0;
}

.athlete-preview__name {
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
}

.athlete-preview__status {
  color: $blue;
}