.tab-navigation {
  @include list-reset;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.tab-navigation__item {
  box-sizing: border-box;
  padding: 0 8px;

  text-align: center;
  border-left: 1px solid $blue;
}

.tab-navigation__item:first-child {
  border: none;
}

.tab-navigation__link {
  color: black;
  text-decoration: none;
}

.tab-navigation__link:hover {
  color: lighten($blue, 20);
}

.tab-navigation__link--active {
  color: $blue;
}


.athletes {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
}

.athlete__link {
  text-decoration: none;
}

.athlete__link:hover {
  background-color: lighten($gray, 1);
}

.athlete-preview {
  width: 200px;
  box-sizing: border-box;

  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.athlete-preview__photo {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  overflow: hidden;
}

.athlete-preview__name,
.athlete-preview__status {
  margin: 0;
}

.athlete-preview__name {
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
}

.athlete-preview__status {
  color: $blue;
}