@import "variables.scss";
@import "mixin.scss";

@import "fonts.scss";


/* Стили без привязки к блоку */

.body {
  // font-family: Tahoma, sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.block-title {
  display: block;
  box-sizing: border-box;
  
  
  width: 100%;
  margin: 0;
  padding: 20px 5px;

  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;

  background-color: $blue;
}


/* Подключение всех импортов */

@import "Logo/logo.scss";

@import "Header/header.scss";
@import "Header/header-navigation.scss";

@import "Aside/aside.scss";

@import "Main/main.scss";

@import "Footer/footer.scss";
