/* Подключение всех импортов */

@import "variables.scss";

@import "logo";

@import "Header/header.scss";
@import "Header/header-navigation.scss";

@import "Main/main.css";


.body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
}