$layout-width: 900px;

.layout {
  max-width: $layout-width;
  // width: 100vh;
  margin: auto;
  padding: 20px;
}

.layout__title {
  font-size: 20px;
  color: $blue;
  text-transform: uppercase;
}

.layout__header-image {
  width: 100%;
}

.layout__title--center {
  text-align: center;
}

.layout__content {
  max-width: $layout-width;
}

@media (max-width: $middle) {
  .layout__content img {
    width: 100% !important;
  }
}

@import "tab-navigation.scss";

@import "Document/documentation.scss";
@import "Direction/direction.scss";
@import "Athletes/athletes.scss";
@import "Athletes/athlete.scss";
@import "News/news.scss";
@import "Publications/publications.scss";