$layout-width: 900px;

.layout {
  max-width: $layout-width;

  margin: auto;
  padding: 20px;
}

.layout__title {
  font-size: 20px;
  color: $blue;
  text-transform: uppercase;
}

.layout__title--center {
  text-align: center;
}

.layout__content {
  max-width: $layout-width;
}

@import "Document/documentation.scss";
@import "Direction/direction.scss";
@import "Athletes/athletes.scss";