// Ширина текстового блока новостей и ссылки, а также отступ фото новости
$block-width: 310px;

// Магическая высота, чтобы выровнять голубые линии на макете
$magic-height-for-slide-and-sidе-top-menu: 317px;

.actual-news {
  position: relative;
  
  width: 100%;
  height: $magic-height-for-slide-and-sidе-top-menu;
  
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
  
  box-sizing: border-box;
  
  // overflow: hidden;
  overflow-x: auto;
  
  .show-more {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    width: $block-width;
    
    text-align: right;
    
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: auto 0;
    
    background-color: white;
    
    flex-grow: 1;
    z-index: 1;
  }
}

.actual-news__banner {
  position: absolute;
  top: 0;
  left: 0;
  
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
  padding-right: $block-width;
  background-color: $gray;
  
  object-fit: cover;
}

.actual-news__side {
  width: 100%;
  height: $magic-height-for-slide-and-sidе-top-menu;
  
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
  overflow: hidden;
}

.actual-news__title {
  display: none;
}

.actual-news__content {
  position: relative;
  width: $block-width;
  
  box-sizing: border-box;
  padding: 5px;
  padding-left: 15px;
  
  font-size: 14px;
  
  border-bottom: 1px solid $gray;
  background-color: white;
  
  z-index: 1;
  
  h3, p {
    margin: 0;
    z-index: 2; 
  }
}

.actual-news__image {
  display: none;
}

.actual-news__content--active {
  position: relative;
}

.actual-news__content--active::before {
  position: absolute;
  content: '';
  
  top: 50%;
  left: -10px;
  
  width: 20px;
  height: 20px;
  
  transform: translateY(-50%) translateX(0px)  rotate(45deg);
  
  background-color: white;
  z-index: -1;
  
  animation-name: actual-news;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes actual-news {
  0% {
    transform: translateY(-50%) translateX(20px)  rotate(45deg);
  }
  30% {
    transform: translateY(-50%) translateX(0px)  rotate(45deg);
  }
  80%{
    transform: translateY(-50%) translateX(0px)  rotate(45deg);
  }
  100% {
    transform: translateY(-50%) translateX(20px)  rotate(45deg);
  }
}

@media (max-width: $middle) {
  // .actual-news {
  //   margin-top: 40px;
  // }

  .actual-news__title {
    display: block;
    text-align: center;
  }
}

// Волшебный брейкпоинт чисто для блока новостей

@media (max-width: 550px) {
  .actual-news {
    display: block;
    height: auto;
  }

  .actual-news__side {
    display: block;
    height: auto;

    text-align: center;
  }

  .actual-news__banner {
    display: none;
  }

  .actual-news__image {
    display: block;
    width: 90%;

    margin: auto;
  }

  .actual-news__content {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .actual-news .show-more {
    justify-content: center;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}