.news {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

@media (max-width: $extra-large) {
  .news {
    width: 100%;
  }
}

.news__title {
  margin: 0;
  margin-top: 20px;
}

.news__title,
.news__title a {
  color: darken($blue, 10);
  text-decoration-line: none; 
}

.news__title a:hover {
  color: $red;
  text-decoration-line: underline;
}

.news__title a:visited {
  color: lighten($blue, 20);
}

.news__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.news__date {
  position: relative;

  font-size: 14px;
  color: $black;
}

.news__date::after {
  position: absolute;
  content: '';

  bottom: -10px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: $dark-gray;
}

.pagination {
  text-align: center;
}

.pagination__number {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__number a {
  color: gray;
  text-decoration: none;
}

.pagination__number a:hover {
  text-decoration: underline;
}

.pagination__number--active {
  font-size: 20px;
  font-weight: bold;
  color: $red;
}