.aside {
  display: flex;
  flex-direction: column;

  min-width: 320px;

  color: white;
  text-align: center;

  background-color: $gray;
}

.aside__top-nav {
  position: relative;
  min-height: 317px;
}

.aside__top-nav--height-auto {
  min-height: auto;
}

.doc-title {
  box-sizing: border-box;
  width: 310px;
  padding: 4px 16px;
  // padding-left: 16px;

  text-align: left;
  font-size: 16px;
  color: $black;
  text-transform: uppercase;

  // background-color: $dark-gray;

  a {
    color: $black;
  }
}

.aside__list {
  @include list-reset();

  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
}

.aside__list--flexible {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
}

.aside__list--wrap {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.aside__item {
  box-sizing: border-box;
  padding: 4px;
  margin-left: 14px;

  font-size: 14px;
  text-align: left;

  a {
    display: inline-block;
    position: relative;

    box-sizing: border-box;
    padding: 0px 16px;

    color: black;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: lighten(black, 40);
      background-color: white;
    }

    &:hover::after {
      position: absolute;
      content: '';

      top: 0;
      left: 0;

      width: 5px;
      height: 100%;

      background-color: $blue;
    }
  }
}

@media (max-width: $middle) {
  .aside {
    width: 100%;
  }
  
  .aside__top-nav {
    height: auto;
    min-height: auto;
  }
}

@import "aside-menu.scss";
@import "inner-aside.scss";


