.aside-menu {
  @include list-reset();
}

.aside-menu__title {
  margin: 0;
  padding: 20px;

  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  
  background-color: $red;

  a {
    text-decoration: none;
    color: white;
  }
}

.aside-menu__title--blue {
  border-bottom: 1px solid darken($blue, 30);
  background-color: $blue;
}

.aside-menu__item {
  display: inline-block;
  box-sizing: border-box;

  width: 300px;
  padding: 30px 0;

  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $gray;
  border-bottom: 2px solid $dark-gray;
}

.aside-menu__item:hover {
  background-color: lighten($gray, 10);
}

.aside-menu__item:active {
  background-color: darken($gray, 2);
}