.partners {
  background-color: white;
}

.partners__list {
  @include list-reset();
  padding: 20px;
}

.partners__item {
  margin-bottom: 30px;
  text-align: center;
}


@media (max-width: $extra-large) {
  .partners {
    width: 310px;
  }

  .partners__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    margin-top: 30px;
  }
}