.parthners {
  background-color: white;
}

.parthners__list {
  @include list-reset();
  padding: 20px;
}


@media (max-width: $extra-large) {
  .parthners {
    width: 310px;
  }

  .parthners__list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  .parthners__item {
    margin-bottom: 30px;
  }
}