.parthners {
  background-color: white;
}

.parthners__list {
  @include list-reset();
  padding: 20px;
}

@media (max-width: $extra-large) {
  .parthners {
    width: 280px;
    flex-grow: 1;
    background-color: $gray;
  }
}

// Чисто костыльное подгонялово и только для правого меню
@media (max-width: 1235px) {
  .parthners__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
}