.main {
  background-color: $blue;
  background-image: linear-gradient($blue, $black);
}

.main__content {
  background-color: white;
  flex-grow: 1;
}

.main__layout {
  float: left;
}

.main__video {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 50px;
  
  text-align: center;
}

.main__video video {
  width: 600px;
}

@media (max-width: $extra-large) {
  .main__content {
    flex-grow: 1;
  }

  .main__layout {
    float: none;
  }
}

@media (max-width: $large) {
  .main__content {
    flex-grow: 1;
  }

  .main__video video {
    width: 400px;
  }
}

@media (max-width: $middle) {
  .main__content {
    flex-grow: 1;
  }

  .main__video video {
    width: 300px;
  }
}

@media (max-width: $small) {
  .main__content {
    flex-grow: 1;
  }

  .main__video video {
    width: 270px;
  }
}



@import "News/actual-news.scss";
@import "Tiles/tiles.scss";

@import "_inner-content/layout.scss";