@import "News/actual-news.scss";
@import "Tiles/tiles.scss";

.main {
  background-color: $blue;
  background-image: linear-gradient($blue, $black);
}

.main__content {
  flex-grow: 1;
  background-color: white;
}

.main__video {
  margin-top: 50px;
  padding: 10px;
  
  text-align: center;
}