.main {
  background-color: $blue;
  background-image: linear-gradient($blue, $black);
}

.main__content {
  background-color: white;
  flex-grow: 1;
}

.main__layout {
  float: left;
}

@media (max-width: $extra-large) {
  .main__content {
    flex-grow: 1;
  }

  .main__layout {
    float: none;
  }
}

.main__video {
  margin-top: 50px;
  padding: 10px;
  
  text-align: center;
}

@import "News/actual-news.scss";
@import "Tiles/tiles.scss";

@import "_inner-content/layout.scss";