@import "../variables.scss";
@import "../mixin.scss";

.header-navigation {
  color: white;
  font-size: 14px;
  text-transform: uppercase;


  background-color: $black;
}

.header-navigation__list {
  display: flex;
  flex-direction: row;
  @include list-reset();
}

.header-navigation__item {
  display: inline-block;
  padding: 25px 20px;

  position: relative;
  box-sizing: border-box;

  color: white;
  text-decoration: none;
  border: 1px solid black;
}

.header-navigation__item--active {
  border-bottom: 2px solid white;
}

/* Взаимодействие */

.header-navigation__item::after {
  position: absolute;
  content: '';

  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);

  width: 10%;
  height: 2px;

  transition: width 0.2s;
}

/* Подчёркивание не активных пунктов меню */
.header-navigation__item:not(.header-navigation__item--active):hover::after {
  width: 100%;

  background-color: rgb(192, 192, 192);
  transition: width 0.2s;
}

.header-navigation__item:active {
  color: rgb(192, 192, 192);
  background-color: black;   
}